html(lang="us")
	head
		title= sample
		link(rel='stylesheet', href='styles.css') 
		script(type="javascript", src="jquery")
	body
		
		#container.col
			h1 Jewel Thief Landing page
			p.
				This is the default text for the game landing page, Done in NodeJS using Express & Jade <3 it.